[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jimmy/Desktop/typora.desktop]
row=5
col=0

[/home/jimmy/Desktop/Cloudpath-Support.txt]
row=0
col=0

[62 GB Encrypted]
row=1
col=0

[9c40782b-d72b-4cb7-94ac-c05a68238812]
row=6
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/jimmy]
row=4
col=0

